<.header>
  Listing Company
  <:actions>
    <.link href={~p"/company/new"}>
      <.button>New Company</.button>
    </.link>
  </:actions>
</.header>

<.table id="company" rows={@company_collection} row_click={&JS.navigate(~p"/company/#{&1}")}>
  <:col :let={company} label="Title"><%= company.title %></:col>
  <:col :let={company} label="Description"><%= company.description %></:col>
  <:action :let={company}>
    <div class="sr-only">
      <.link navigate={~p"/company/#{company}"}>Show</.link>
    </div>
    <.link navigate={~p"/company/#{company}/edit"}>Edit</.link>
  </:action>
  <:action :let={company}>
    <.link href={~p"/company/#{company}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
