<.header>
  New Company
  <:subtitle>Use this form to manage company records in your database.</:subtitle>
</.header>

<.company_form changeset={@changeset} action={~p"/company"} />

<.back navigate={~p"/company"}>Back to company</.back>
