<.header>
  New Company
  <:subtitle>Use this form to manage company records in your database.</:subtitle>
</.header>

<.company_form changeset={@changeset} action={~p"/companies"} />

<.back navigate={~p"/companies"}>Back to companies</.back>
