<.header>
  Edit Department <%= @department.id %>
  <:subtitle>Use this form to manage department records in your database.</:subtitle>
</.header>

<.department_form changeset={@changeset} action={~p"/department/#{@department}"} />

<.back navigate={~p"/department"}>Back to department</.back>
