<.header>
  Listing Department
  <:actions>
    <.link href={~p"/department/new"}>
      <.button>New Department</.button>
    </.link>
  </:actions>
</.header>

<.table id="department" rows={@department_collection} row_click={&JS.navigate(~p"/department/#{&1}")}>
  <:col :let={department} label="Title"><%= department.title %></:col>
  <:col :let={department} label="Description"><%= department.description %></:col>
  <:action :let={department}>
    <div class="sr-only">
      <.link navigate={~p"/department/#{department}"}>Show</.link>
    </div>
    <.link navigate={~p"/department/#{department}/edit"}>Edit</.link>
  </:action>
  <:action :let={department}>
    <.link href={~p"/department/#{department}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
