<.header>
  Listing Departments
  <:actions>
    <.link href={~p"/departments/new"}>
      <.button>New Department</.button>
    </.link>
  </:actions>
</.header>

<.table id="departments" rows={@departments} row_click={&JS.navigate(~p"/departments/#{&1}")}>
  <:col :let={department} label="Title"><%= department.title %></:col>
  <:col :let={department} label="Description"><%= department.description %></:col>
  <:action :let={department}>
    <div class="sr-only">
      <.link navigate={~p"/departments/#{department}"}>Show</.link>
    </div>
    <.link navigate={~p"/departments/#{department}/edit"}>Edit</.link>
  </:action>
  <:action :let={department}>
    <.link href={~p"/departments/#{department}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
