<.header>
  Edit Companies <%= @companies.id %>
  <:subtitle>Use this form to manage companies records in your database.</:subtitle>
</.header>

<.companies_form changeset={@changeset} action={~p"/company/#{@companies}"} />

<.back navigate={~p"/company"}>Back to company</.back>
