<.header>
  New Departments
  <:subtitle>Use this form to manage departments records in your database.</:subtitle>
</.header>

<.departments_form changeset={@changeset} action={~p"/department"} />

<.back navigate={~p"/department"}>Back to department</.back>
